html{
  font-family: sans-serif;
  font: Arial;
}

#div_text_1 {
  margin: 0;
  position: absolute;
  overflow: scroll;
  top: 30%;
  left: 50%;
  width: 60%;
  height: 45%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  font-size: 1.35vw;
  border: solid 0.5vw Black;
  z-index: 2;
}

#div_placeholder {
  margin: 0;
  position: absolute;
  /* overflow: scroll; */
  top: 30%;
  left: 50%;
  width: 45%;
  height: 40%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  font-size: 1.1vw;
  /* border: solid 2.5vw Yellow; */
  z-index: 1;
}

#proceed {
  margin: 0;
  position: absolute;
  top: 90%;
  left: 50%;
  width: 10%;
  /* height: 5%; */
  text-align: center;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 1.5vw;
  border: solid 0.5vw Black;
  cursor: pointer;
}

.button_on{
  background-color: Green;
  pointer-events: auto;
}

.button_off{
  background-color: Grey;
  pointer-events: none;
}


.slider_wrapper {
  margin: 0;
  position: relative;
  top: 130%;
  left: 50%;
  width: 100%;
  height: 30%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 1.25vw;
  border: solid 0.25vw Black;
}

.standard_wrapper {
  margin: 0;
  position: relative;
  top: 120%;
  left: 50%;
  width: 100%;
  height: 30%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  font-size: 1.25vw;
  border: solid 0.5vw Black;
}


.slider {
  margin: 0;
  position: relative;
  top: 40%;
  left: 50%;
  width: 90%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  /* -webkit-appearance: none; */
  /* appearance: none; */
  /* height: 1.5vw;
  background: Black;
  outline: none;
  opacity: 0.7;
  border-radius: 1.5vw; */
}

/* .slider:focus {
  outline: none;
} */

/* .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0.75vw;
  height: 3vw;
  background: Black;
  cursor: pointer;
} */

/* .slider::-moz-range-thumb {
  width: 0.75vw;
  height: 3vw;
  background: Black;
  cursor: pointer;
} */

.input_allowed {
  color: Green;
}

.input_exceeded {
  color: Red;
  font-weight: bold;
}

.tracker_wrapper {
  margin: 0;
  position: absolute;
  top: 80%;
  left: 50%;
  /* width: 100%; */
  height: 10%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 1.25vw;
  border: solid 0.5vw Black;
}

.slider_output_labels {
    width: 90%;
    height: 10%;
    margin: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    /* border: solid 0.1vw Black; */
}

.label_left{
  margin: 0;
  position: absolute;
  text-align: left;
  left: 25%;
  top: 50%;
  width: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding-left: 1%;
  font-size: 1.5vw;
  /* border: solid 0.2vw Red; */
}
.label_right{
  margin: 0;
  position: absolute;
  text-align: right;
  left: 75%;
  top: 50%;
  width: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding-right: 1%;
  font-size: 1.5vw;
  /* border: solid 0.2vw Red; */
}
